.main {
  display: flex;
}



.sidebar {
  height: 100vh;
  position: fixed;
  z-index: 999;
  transition: 0.3s;
}

.deletIcon {
  cursor: pointer;
}

.close {
  left: -190px;
}

.open {
  left: 0;
}

.closeBtn {
  background-color: none;
  border: none;
}

.closeIcone {
  cursor: pointer;
}

.myFooter {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.menuBtn {
  cursor: pointer;
}

.header {
  width: 100vw;
}