.my-main {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.header {
  width: 99vw;
  position: fixed;
  top: 0;
  z-index: 999;
}

.sidebar {
  height: 100vh;
  position: fixed;
  z-index: 999;
  transition: 0.3s;
}

.deletIcon {
  cursor: pointer;
}

.close {
  left: -190px;
}

.open {
  left: 0;
}

.closeBtn {
  background-color: none;
  border: none;
}

.closeIcone {
  cursor: pointer;
}

.myFooter {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.menuBtn {
  cursor: pointer;
}


.menu {
  display: block;
  float: right;
}

/* .headerItem {
  display: block;
} */

@media(min-width : 700px) {
  .menu {
    display: none;
  }
}

@media(max-width : 700px) {
  .headerItem {
    display: none;
  }
}